body {
    margin: 0;
}

.wrap {
    width: 1920px;
    height: 2740px;
    overflow: hidden;
    font-family: Open Sans;
    color: #E9EDF0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*--------SIDEBAR--------*/

.sidebar {
    padding-top: 100px;
    width: 700px;
    height: 100%;
    background: #02486C;
    background-image: linear-gradient(to bottom, #0A1B2D, hsl(211, 41%, 32%));
}

.sidebar > * {
    margin: 0 auto 70px !important;
}

.my-name {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    margin: 0;
}

.my-job {
    margin: 0;
    text-align: center;
    font-weight: lighter;
}


.profile-picture {
    background: grey;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: auto;
    background: url('photo.jpg');
    background-size: 100%;
}

.abstract {
    text-align: justify;
    font-size: 32px;
    width: 86%;
    margin: auto;
}

.skills-summary {
    width: 86%;
    text-align: justify;
    padding: 0;
    font-size: 35px;
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
  }

  .skills-summary li:not(.skills-title) {
      padding: 10px;
  }

  .skills-title {
      width: 100%;
      padding: 10px;
      font-size: 1.5em;
      font-weight: lighter;
  }

  .technology {
    width: 42%;
    text-align: right;
    font-size: 30px;
    line-height: 50px;
    padding: 0;
    margin: 0
  }

  .language {
      margin-top: 120px;
  }

  .skill {
    width: 45%;
    text-align: left;
    padding: 0;
    margin-left: 20px;
  }

  .progress-bar {
      margin-top: 10px;
      width: 100%;
      height: 30px;
      border-radius: 15px;;
      background: #E9EDF0;
      display: inline-block;
  }
  
  .value {
      margin-top: 0;
      background: #1B86BE;
      color: #E9EDF0;
      line-height: 30px;
      font-size: 25px;
      text-align: center;
    }

.contact {
    width: 73%;
    margin: 120px auto 0;
    line-height: 70px;
    font-size: 25px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item .fontawesome-icon {
    height: 40px;
    margin-right: 25px;
    width: 60px;
    filter: invert(.9)
}

.software-skills {
    font-size: 35px;
    margin: 120px 50px 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600px;
}

.software-skills li {
    width: 100%;
    margin-top: 30px;
}

.software-skills li:before {
    content: '✓';
    margin-right: 30px;
}

/*--------CONTENT--------*/

.content {
    width: 1220px;
    height: 100%;
    background: #E9EDF0;
    color: #3C3D3F;
}

.content-header {
    font-weight: lighter;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 100px;
}

.work-experience {
    width: 1200px;
    margin-left: 50px;
}

.work-item:last-child {
    height: auto;
}

.work-item:last-child .work-line {
    border-left: 4px solid transparent;
}

.work-item {
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    height: 250px;
}

.work-date {
    width: 300px;
    text-align: right;
}

.work-line {
    border-left: 4px solid #02486C;
    margin: 10px 50px -10px 50px;
}

.work-point {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #02486C;
    margin-left: -17px;
}

.work-description {
    max-width: 750px;
}

.work-name {
    margin: 0 0 15px;
}

.work-chips {
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: #1B86BE;
    color: #E9EDF0;
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
}

.work-details {
    font-size: 25px;
    opacity: 0.8;
}

.additional-work {
    font-size: 30px;
    padding: 0 150px;
    list-style-type: none;
}

.additional-work li {
    margin-top: 30px;
}

.additional-work li:before {
    content: '✓';
    margin: 0 20px 0 -45px;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
}

.hobbies-item {
    width: 25%;
    text-align: center;
    font-size: 30px;
}

.hobbies-item .fontawesome-icon {
    height: 100px;
    filter: invert(.25)
}