@font-face {
    font-family: "Open Sans Light";
    src: url("font/OpenSans-Light.ttf") format("truetype");
}

body {
    margin: 0;
}

.wrap {
    width: 1920px;
    height: 2740px;
    overflow: hidden;
    font-family: "Open Sans Light";
    color: #E9EDF0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*--------SIDEBAR--------*/

.sidebar {
    width: 670px;
    height: 100%;
    padding-top: 65px;
    background: #02486C;
    background-image: linear-gradient(to bottom, #0A1B2D, hsl(211, 41%, 32%));
}

.sidebar>* {
    margin: 0 auto 125px !important;
}

.my-picture {
    background: grey;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: auto;
    background: url('photo.jpg');
    background-size: 100%;
}

.my-name {
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    margin: 25px 0;
}

.my-proffesion {
    margin: 25px 0;
    font-size: 35px;
    text-align: center;
}

.contact {
    width: 73%;
    margin: 120px auto 0;
    line-height: 70px;
    font-size: 25px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item .fontawesome-icon {
    height: 40px;
    margin-right: 25px;
    width: 60px;
    filter: invert(.9)
}

.skills-summary {
    width: 82%;
    margin: 50px 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    text-align: justify;
    font-size: 35px;
}

.skills-summary li {
    padding: 10px;
}

.skills-title {
    width: 100%;
    font-size: 60px;
}

/*--------CONTENT--------*/

.content {
    width: 1250px;
    height: 100%;
    background: #E9EDF0;
    color: #3C3D3F;
}

.abstract {
    width: 100%;
    margin-top: 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 85%; */
    /* margin: 55px auto 0; */
}

.abstract-svg-arrow {
    width: 8%;
    fill: #0A1B2D;
}

.abstract-description {
    width: 85%;
    line-height: 1.7;
    text-align: justify;
    font-size: 35px;
}

.content-header {
    font-weight: lighter;
    font-size: 60px;
    margin: 40px 0 40px 65px;
}

.work-experience {
    width: 1200px;
    margin-left: 50px;
}

.work-item {
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    height: 250px;
}

.work-item:last-child {
    height: auto;
}

.work-item:last-child .work-line {
    border-left: 4px solid transparent;
}

.work-date {
    width: 300px;
    text-align: right;
}

.work-line {
    border-left: 4px solid #02486C;
    margin: 10px 50px -10px 50px;
}

.work-point {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #02486C;
    margin-left: -17px;
}

.work-description {
    max-width: 750px;
}

.work-name {
    margin: 0 0 15px;
}

.work-chips {
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: #1B86BE;
    color: #E9EDF0;
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
}

.work-details {
    font-size: 25px;
}

.additional-work {
    font-size: 35px;
    padding: 0 150px;
    list-style-type: none;
}

.additional-work li {
    margin-top: 30px;
}

.additional-work li:before {
    content: '✓';
    margin: 0 20px 0 -45px;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies-item {
    width: 23%;
    text-align: center;
    font-size: 35px;
}

.hobbies-item .fontawesome-icon {
    height: 80px;
    filter: invert(.25)
}